{% load static %}
<div class="validation-popup-overlay" id="validation-popup">
    <div class="validation-popup-box">
        <img class="error-icon" src="{% static 'employees/img/error_icon.png' %}" alt="Error" />
        <div class="heading"><div class="text-wrapper">THÔNG BÁO LỖI</div></div>
        <p class="message">Xin vui lòng nhập đầy đủ thông tin !</p>
        <button class="exit-btn" id="popup-exit-btn"><div class="div">Thoát</div></button>
        <button class="back-btn" id="popup-back-btn"><div class="text-wrapper-2">Quay lại</div></button>
    </div>
</div>
