{% load static %}
<div class="duplicate-error-popup-overlay" id="duplicate-error-popup">
    <div class="duplicate-error-popup-box">
        <img class="error-icon" src="{% static 'employees/img/error_icon.png' %}" alt="Error" />
        <div class="heading">THÔNG BÁO LỖI</div>
        <p class="message-line1">CCCD hoặc số điện thoại đã tồn tại?</p>
        <p class="message-line2">Xin vui lòng nhập lại thông tin chính xác !</p>
        <button class="exit-btn" id="duplicate-popup-exit-btn">Thoát</button>
        <button class="back-btn" id="duplicate-popup-back-btn">Quay lại</button>
    </div>
</div>
