{% load static %}
<div class="invalid-info-popup-overlay" id="invalid-info-popup">
    <div class="invalid-info-popup-box">
        <img class="error-icon" src="{% static 'employees/img/error_icon.png' %}" alt="Error" />
        <div class="heading">THÔNG BÁO LỖI</div>
        <p class="message-line1">Thông tin không hợp lệ?</p>
        <p class="message-line2">Xin vui lòng nhập lại thông tin chính xác !</p>
        <button class="exit-btn" id="invalid-info-popup-exit-btn">Thoát</button>
        <button class="back-btn" id="invalid-info-popup-back-btn">Quay lại</button>
    </div>
</div>
